---
layout: default
---

<h1>{{ page.title }}</h1>

<table>
	<thead>
		<tr>
			<th>Filename</th>
			<th>Ext</th>
			<th>Modified</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td colspan="3"><a href="../">...</a></td>
		</tr>

		{% for dir in site.static_files %}
			{% if dir.path contains dirname and dir.path != dirname %}
				{% assign parts = dir.path | remove_first: dirname | split: "/" %}
				{% if parts.size == 2 %}
				<tr>
					<td><a href="{{ dir.path }}">{{ parts[0] }}/</a></td>
					<td>&lt;dir&gt;</td>
					<td></td>
				</tr>
				{% endif %}
			{% endif %}
		{% endfor %}
		
		{% assign dirname = page.dir %}
			{% for file in site.static_files %}
				{% if file.path contains dirname and file.path != dirname %}
					{% assign parts = file.path | remove_first: dirname | split: "/" %}
					{% if parts.size == 1 %}
					<tr>
						<td><a href="{{ file.path }}">{{ file.basename }}</a></td>
						<td>{{ file.extname }}</td>
						<td>{{ file.modified_time }}</td>
					</tr>
					{% endif %}
			{% endif %}
		{% endfor %}
	</tbody>
</table>